<table class="filter-table">
	<tr class="filter-row filter-row--head">
		<td ng-class="{'active': vm.filter == 'name', 'negative': vm.filter == '-name'}"
		class="filter-column" 
		ng-click="vm.setFilter('name')"
		>Name</td>
		<td 
		class="filter-column"
		ng-class="{'active': vm.filter == 'surname', 'negative': vm.filter == '-surname'}"
		ng-click="vm.setFilter('surname')"
		>Surname</td>
		<td 
		class="filter-column" 
		ng-class="{'active': vm.filter == 'age', 'negative': vm.filter == '-age'}"
		ng-click="vm.setFilter('age')"
		>Age</td>
	    <td 
	    class="filter-column"
	    ng-class="{'active': vm.filter == 'position', 'negative': vm.filter == '-position'}"
	    ng-click="vm.setFilter('position')"
	     >Position</td>
	     <td 
	    class="filter-column"
	    ng-class="{'active': vm.filter == 'date', 'negative': vm.filter == '-date'}"
	    ng-click="vm.setFilter('date')"
	     >Date</td>
	 


	</tr>

<tr class="filter-row" ng-repeat="employee in vm.employes | orderBy: vm.filter">
		<td class="filter-column" ng-bind="employee.name">Name</td>
		<td class="filter-column" ng-bind="employee.surname">Surname</td>
		<td class="filter-column" ng-bind="employee.age">Age</td>
	    <td class="filter-column" ng-bind="employee.position">Position</td>	
	    <td class="filter-column" ng-bind="employee.date | mydate">Position</td>	
</tr>	
</table>